<meta charset="utf-8" />
<head>
  <div class="col-md-stretch">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <a style="text-decoration: none" href="/"><h2>GAMERWWH</h2></a>
      <p>Gamer What Where & How</p>

      <h6>Only users can have full access to the site</h6>
      <a href="/sessions/newUser">
        <button class="btn btn-outline-light" type="button">
          Register Now!
        </button>
      </a>
    </div>
  </div>
</head>
