<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
  </head>
  <body>
    <h1>Gamers WWH</h1>

    <ul>
        <% for(let i=0; i<allGames.length;i++) {%>
        <li>
            
          <a href="/<%=allGames[i].id%>"> <%=allGames[i].name%></a> <img src="data:image/<%=allGames[i].img.contentType%>;base64,<%=allGames[i].img.data.toString('base64')%>">     
        </li><%}
        %>
</ul>

<a href="/newgamedb">Add new info to database</a>
  </body>
</html>
