ul {
  list-style-type: none;
}

body {
  margin-left: 50px;
  margin-right: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: black;
  color: white;
  padding-top: 20px;
}
